<link rel="import" href="/bower_components/polymer/polymer-element.html">

<dom-module id="polymer-block">
  <template>
    {{textContent}}    
    <input type="file" accept="image/*" capture="camera" />  
    <br />
    <slot></slot>
  </template>

  <script>
    // 为一个新的叫做 custom-element 的元素定义类
    class CustomElement extends Polymer.Element {
      static get is() { return "custom-element"; }
      constructor() {
          super();
          this.textContent = "我是一个自定义元素。";
        }
    }
    // 在浏览器中注册这个新的元素
    customElements.define(PolymerBlock.is, PolymerBlock);
  </script>
</dom-module>

