/**
 * Main Page
 */
.main {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #282B56;
  justify-content: center;
  align-items: center;

  .info {
    text-align: center;

    .name {
      width: 200px;
      height: 200px;
      margin: 0 auto 30px;
      background-color: #FFF;
      border-radius: 100%;
      font-size: 60px;
      line-height: 200px;
      text-transform: uppercase;
    }
  }
}
.main-polymer_ {
  display: block; min-height: 100%; padding: 0.35rem; font-size: 0.3rem;
  .input-file {display: block; margin: 0.35rem auto; border:1px dotted #ccc; padding: 0.3rem 0.6rem; background: linear-gradient(to right, aliceblue, skyblue);}  
}

